extends default

block content
  div.main
    //if #{operator} === 0
      //p.result #{a} + #{b} = #{result}
    //else if #{operator} === 1
      //p.result #{a} - #{b} = #{result}
    //else if #{operator} === 2
      //p.result #{a} / #{b} = #{result}
    //else if #{operator} === 3
      //p.result #{a} * #{b} = #{result}
        
    form(method="GET" action="/")
      input#a(type="number" name="a")
      select#operator(name="operator")
        option(value="0") +
        option(value="1") -
        option(value="2") /
        option(value="3") *
      input#b(type="number" name="b")
      
      button(type="submit") Räkna ut
